/* body{
  background-color: black;
} */
body {
   height: 10000%;
   background-color: #080808;
   background-position: 100%;
   margin: 0% auto;
   }

  
.split {
  background-color: #000000;
  background: #000000;
    height: 50%;
    width: 50%;
    position: fixed ;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
    border-color: rgb(255, 255, 255);


  
  }
  

  .split_down {
    height: 50%;
    width: 50%;
    position: fixed ;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
    border-color: rgb(255, 255, 255);


  }

  h1 {
    font-size: 500%;
    text-align: center;

  }

  
  p{
    font-size: 900%;
    text-align: center;

  }


  h2 {
    font-size: 600%;
    text-align: center;
    color: rgb(255, 0, 0);

  }

  hr.new {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
  

  }
  


  .left_up {
    left: 0;
    background-color: rgb(2, 2, 2);


  }
  
  .left_down {
    left: 0;
    background-color: rgb(2, 2, 2);


  }
  
  
  .right_up {
    right:0;
    background-color: rgb(2, 2, 2);

  }
  .right_down {
    right: 0;
    background-color: rgb(2, 2, 2);
;

  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(2, 2, 2);

  }
  


